# This is Git's per-user configuration file.
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
# Source a private gitconfig for stuff like username, etc
[include]
    path = ~/.gitconfig.local
